/HtmlParserTest/Win32
/HtmlParserTest/__history
/HtmlParserTest/HtmlParserTest.dproj.local
/HtmlParserTest/htmlp/__history
/HtmlParserTest/*.identcache
/HtmlParserTest/HtmlParserTest.res
/HtmlParserTest_D7/htmlp/*.dcu
/FMXPrint/Win32/Debug
/FMXPrint/Win64/Debug
/FMXPrint/__history
/FMXPrint/FMXPrintDemo.dproj.local
/FMXPrint/FMXPrintDemo.identcache
/FMXPrint/FMXPrintDemo.res
/BeautifulDialog/__history
/BeautifulDialog/BeautyDlgDemo.dproj.local
/BeautifulDialog/BeautyDlgDemo.res
/BeautifulDialog/Win32/Debug
/BeautifulDialog/BeautyDlgDemo.identcache
/BeautifulDialog/BeautyDlgDemo.stat
/TestButton/__history
/TestButton/Win32/Debug
/FMXPrint/*.stat
/TestButton/*.res
/LoadCustomCursor/Debug/Win32
/LoadCustomCursor/__history
/TestButton/*.local
/TestButton/*.identcache
/TestButton/*.stat
/LoadCustomCursor/LoadCustomCursorResource.rc
/LoadCustomCursor/LoadCustomCursor.dproj.local
/LoadCustomCursor/LoadCustomCursor.dres
/LoadCustomCursor/LoadCustomCursor.identcache
/LoadCustomCursor/LoadCustomCursor.res
/LoadCustomCursor/LoadCustomCursor.stat
